.img {
  width: 400px;
  height: 200px;
  object-fit: cover;
}

.content {
  padding: 24px;

  p {
    text-align: justify;
  }
}

.modalHeader {
  max-width: 352px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 12px;

  h2 {
    margin: 0;
  }
}

.headerTitle {
  flex: 1;
  margin-right: 24px;
}

.detailRow {
  margin: 8px 0px;
  display: flex;
  justify-content: space-between;
}